USE [master]
GO
/****** Object:  Database [OBS]    Script Date: 1.09.2022 10:29:40 ******/
CREATE DATABASE [OBS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OBS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\OBS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OBS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\OBS_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OBS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OBS]
GO
/****** Object:  Table [dbo].[TblDersler]    Script Date: 1.09.2022 10:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDersler](
	[Ders_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ders_Ad] [nvarchar](50) NULL,
	[Sınıf_ID] [int] NULL,
	[Ogrenci_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ders_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblKullanıcılar]    Script Date: 1.09.2022 10:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKullanıcılar](
	[Kullanıcı_ID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanıcı_Tipi] [int] NULL,
	[Sifre] [int] NULL,
	[Kullanıcı_Ad] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Kullanıcı_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMudurler]    Script Date: 1.09.2022 10:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMudurler](
	[Mudur_ID] [int] IDENTITY(1,1) NOT NULL,
	[Mudur_Ad] [nvarchar](50) NULL,
	[Mudur_Soyad] [nvarchar](50) NULL,
	[Kullanıcı_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Mudur_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblNotlar]    Script Date: 1.09.2022 10:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblNotlar](
	[Not_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ders_ID] [int] NULL,
	[Ogrenci_ID] [int] NULL,
	[Not] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Not_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOgrenciler]    Script Date: 1.09.2022 10:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOgrenciler](
	[Ogrenci_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ogrenci_Ad] [nvarchar](50) NULL,
	[Ogrenci_Soyad] [nvarchar](50) NULL,
	[Sınıf_ID] [int] NULL,
	[Kullanıcı_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ogrenci_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOgretmenler]    Script Date: 1.09.2022 10:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOgretmenler](
	[Ogretmen_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ogretmen_Ad] [nvarchar](50) NULL,
	[Ogretmen_Soyad] [nvarchar](50) NULL,
	[Sınıf_ID] [int] NULL,
	[Kullanıcı_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ogretmen_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSınıflar]    Script Date: 1.09.2022 10:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSınıflar](
	[Sınıf_ID] [int] IDENTITY(1,1) NOT NULL,
	[Sınıf_Ad] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sınıf_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
